<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css" />
	<link href="__ROOT__/Data/umeditor/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet">
	<link href="__PUBLIC__/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="__PUBLIC__/Js/jquery-1.9.1.min.js"></script>
	<script src="__PUBLIC__/Bootstrap/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="__ROOT__/Data/umeditor/umeditor.config.js"></script>
	<script type="text/javascript" src="__ROOT__/Data/umeditor/umeditor.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Data/umeditor/lang/zh-cn/zh-cn.js"></script>
	<script> 
      window.UMEDITOR_HOME_URL = '__ROOT__/Data/umeditor/';
      window.onload = function(){
            window.UMEDITOR_CONFIG.initialFrameHeight = 500;
            window.UMEDITOR_CONFIG.initialFrameWidth = 500;
            window.UMEDITOR_CONFIG.savePath = ['Uploads'];
            window.UMEDITOR_CONFIG.imageUrl = "{:U(MODULE_NAME.'/Common/c_upload')}";       //图片上传提交地址
            window.UMEDITOR_CONFIG.imagePath = "__ROOT__/Uploads/";
            window.UMEDITOR_CONFIG.toolbar = [
            'source | undo redo | bold italic| forecolor backcolor | removeformat |',
             
            '| justifyleft justifycenter justifyright justifyjustify |',
            'link unlink | emotion image video  | map horizontal'
        ]
            UM.getEditor('umeditor');
      }
    </script>
</head>
<body>
<div class="container">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li class="active">
						<a href="#">首页</a>
					</li>
					<li>
						<a href="#">链接</a>
					</li>
					<li>
						<a href="#">链接</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
	<div id="wrapper">
		<div class="left">
			<form action="" method="post">
				<div class="title">
					标题：
					<input type="text" />
				</div>
				<textarea name="" id="umeditor" cols="30" rows="10"></textarea>
				<div class="submit">
					<input class="publish" type="submit" value="发布" />
				</div>
			</form>
		</div>
		<div class="right">
			<ul>
				<li class="article">
					<a href="">二〇一四年九月七日</a>
				</li>
				<li class="article">
					<a href="">二〇一四年九月七日</a>
				</li>
				<li class="article">
					<a href="">二〇一四年九月七日</a>
				</li>
				<li class="article">
					<a href="">二〇一四年九月七日</a>
				</li>
				<li class="article">
					<a href="">二〇一四年九月七日</a>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>
</body>
</html>{$page}