<extend name="Common/base" />
  <block name="head">
  <title>首页</title>
  <script src="__PUBLIC__/static/refreshcode.js"></script>
  <script>
  var URL = {:U(MODULE_NAME.'/Public/verify','','')};
  </script>
  </block> 
 
<body>
 <block name="body">
   
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>
  </div>
</block>