<extend name="Common/base" />
<block name="head">
	<title>首页</title>
	<script src="__PUBLIC__/static/refreshcode.js"></script>
	<script>var URL = {:U(MODULE_NAME.'/Public/verify','','')};</script>
</block>

<body>
<block name="body">
	<div class="container">

		<div class="row">
			<div class="col-md-2 grayborder">骑着脚踏车穿行在光滑的马路上，一阵笑声带着一股清香从小路传来。骑着脚踏车穿行在光滑的马路上，一阵笑声带着一股清香从小路传来。骑着脚踏车穿行在光滑的马路上，一阵笑声带着一股清香从小路传来。骑着脚踏车穿行在光滑的马路上，一阵笑声带着一股清香从小路传来。骑着脚踏车穿行在光滑的马路上，一阵笑声带着一股清香从小路传来。骑着脚踏车穿行在光滑的马路上，一阵笑声带着一股清香从小路传来。骑着脚踏车穿行在光滑的马路上，一阵笑声带着一股清香从小路传来。骑着脚踏车穿行在光滑的马路上，一阵笑声带着一股清香从小路传来。骑着脚踏车穿行在光滑的马路上，一阵笑声带着一股清香从小路传来。骑着脚踏车穿行在光滑的马路上，一阵笑声带着一股清香从小路传来。骑着脚踏车穿行在光滑的马路上，一阵笑声带着一股清香从小路传来。骑着脚踏车穿行在光滑的马路上，一阵笑声带着一股清香从小路传来。</div>
			<div class="col-md-10 grayborder">
				<span>添加人物</span>
				<form action="" role="form" class="form-horizontal">
					<div class="form-group">
						<label class="col-md-2 control-label" for="">姓名</label>
						<div class="col-md-2">
							<input type="text" class="form-control" id="" placeholder="姓名"></div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label" for="">性别</label>
						<div class="col-md-10">
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">男</label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">女</label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">其他</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">出生年月</label>
						 <div class="col-md-1">
						      <select>
								  <option>1991年</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								  <option>1991</option>
								   
								</select>
                         
						  </div>
						<div class="col-md-1">
						<select> 
							    <option>1月份</option>
								  <option>2月份</option> 
								  <option>3月份</option> 
								  <option>4月份</option> 
								  <option>5月份</option> 
								  <option>6月份</option> 
								  <option>7月份</option> 
								  <option>8月份</option> 
								  <option>9月份</option> 
								  <option>10月份</option> 
								  <option>11月份</option> 
								  <option>12月份</option>  
								</select>
							</div>
						<div class="col-md-1">
							<select> 
							      <option>1日</option>
								  <option>2日</option> 
								  <option>3日</option> 
								  <option>4日</option> 
								  <option>5日</option> 
								  <option>6日</option> 
								  <option>7日</option> 
								  <option>8日</option> 
								  <option>9日</option> 
								  <option>10日</option> 
								  <option>11日</option> 
								  <option>12日</option>
								  <option>13日</option> 
								  <option>14日</option> 
								  <option>15日</option> 
								  <option>16日</option> 
								  <option>17日</option> 
								  <option>18日</option> 
								  <option>19日</option>  
								  <option>20日</option>  
								  <option>21日</option>
								  <option>22日</option> 
								  <option>23日</option> 
								  <option>24日</option> 
								  <option>25日</option> 
								  <option>26日</option> 
								  <option>27日</option> 
								  <option>28日</option> 
								  <option>29日</option> 
								  <option>30日</option> 
								  <option>31日</option> 
								</select>
							</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">是否在世</label>
						<div class="col-md-10">
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">活着</label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">故人</label>
						</div>
					</div>
				    <div class="form-group">
							<label class="col-md-2 control-label" for="">头像</label>
							<div class="col-md-10">
								<img src="__PUBLIC__/static/images/2.png" alt="..." class="img-rounded" width="92" height="92"> 
						</div>
					<div class="form-group">
							<label class="col-md-2 control-label" for="">人物封面</label>
							<div class="col-md-10">
								<img src="__PUBLIC__/static/images/2.png" alt="..." class="img-rounded" width="752" height="192"> 
						</div>
					<div class="form-group">
							<label class="col-md-2 control-label" for="">人物简介</label>
							<div class="col-md-6">
								<textarea class="form-control" rows="5"></textarea>
						</div>
					</div>
						<div class="form-group">
							<label class="col-md-1 control-label" for=""></label>
							<div class="col-md-6">
								<button type="submit" class="btn btn-primary">提交</button>
						</div>
                    
					</form>

				</div>
			</div>
		</div>
	</block>